<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Blockchain Solutions</h4>
        <p class="text-muted">Providing Enterprise-level blockchain network solutions for Government agencies, financial institutions, enterprise and industry association.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">DApp Development</h4>
        <p class="text-muted">Creating intelligent contracts more conveniently and efficiently by using Smart Contract Programming.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Exchange Infrastructure</h4>
        <p class="text-muted">Supporting enterprises to rapidly deploy, expand and configure cryptocurrency exchange networks on cloud platform.</p>
      </div>
    </div>
  </div>
</section>
